<div id="banner">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1495837174058-628aafc7d610?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=25a869d0508052fc6ee345447cb090c1&auto=format&fit=crop&w=2250&q=80');">
    <%= image_tag 'logo.png', class: 'main-logo' %>
    <div class="banner-content">
      <h1>Coolpay</h1>
      <p>Don't poke... Pay!</p>
      <%= link_to "Enter", login_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
